<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Empleado</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/generico.css">
</head>
<body>
    <h1>Actualizar Empleado</h1>
    <!-- Formulario para actualizar empleado -->
    <div id="actualizarEmpleadoForm" style="display:none;">
    
        <form action="/actualizar_empleado/{{ empleado.id }}" method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ empleado.nombre }}" required>
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" value="{{ empleado.apellidos }}" required>
            <label for="documento">Documento de Identidad:</label>
            <input type="text" id="documento" name="documento" value="{{ empleado.documento }}" required>
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" value="{{ empleado.direccion }}">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" value="{{ empleado.telefono }}">
            <button type="submit"><i class="fas fa-save"></i> Guardar Cambios</button>
        </form>
    </div>
    
</body>
</html>
