<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/stilosformularios.css">
</head>
<body>
    <form action="/nombrefuncionpy" method="POST">
        <label for="idEmpleado"><i class="fas fa-id-card"></i> ID de empleado que se va actualizar:</label><br>
        <input type="text" id="idEmpleado" name="idEmpleado"><br>
        <label for="nombre"><i class="fas fa-user"></i> Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="apellidos"><i class="fas fa-user"></i> Apellidos:</label><br>
        <input type="text" id="apellidos" name="apellidos"><br>
        <label for="documentoIdentidad"><i class="fas fa-id-card"></i> Documento de Identidad:</label><br>
        <input type="text" id="documentoIdentidad" name="documentoIdentidad"><br>
        <label for="direccion"><i class="fas fa-map-marker-alt"></i> Dirección:</label><br>
        <input type="text" id="direccion" name="direccion"><br>
        <label for="telefono"><i class="fas fa-phone"></i> Teléfono:</label><br>
        <input type="tel" id="telefono" name="telefono"><br>
        <label for="foto"><i class="fas fa-camera"></i> Foto:</label><br>
        <input type="file" id="foto" name="foto"><br>
        <input type="submit" value="Actualizar">
        <button type="button" id="agregar"><i class="fas fa-user-plus"></i> Actualizar</button>
    </form>
</body>
</html>
