<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/stilosformularios.css">
    <script>
        function mostrarInputFoto() {
            var campo = document.getElementById("campo");
            var inputFoto = document.getElementById("inputFoto");
            if (campo.value == "foto") {
                inputFoto.style.display = "block";
            } else {
                inputFoto.style.display = "none";
            }
        }
    </script>
</head>
<body>
    <form action="/actualizar_empleado" method="POST">
        <label for="idEmpleado"><i class="fas fa-id-card"></i> ID de empleado que se va actualizar:</label><br>
        <input type="text" id="idEmpleado" name="idEmpleado"><br>
        <label for="campo"><i class="fas fa-list"></i> Campo a actualizar:</label><br>
        <select id="campo" name="campo" onchange="mostrarInputFoto()">
            <option value="nombre">Nombre</option>
            <option value="apellidos">Apellidos</option>
            <option value="documento">Documento</option>
            <option value="direccion">Dirección</option>
            <option value="telefono">Teléfono</option>
            <option value="foto">Foto</option>
        </select><br>
        <div id="inputFoto" style="display: none;">
            <label for="nuevoValorFoto"><i class="fas fa-camera"></i> Nueva foto:</label><br>
            <input type="file" id="nuevoValorFoto" name="nuevoValorFoto"><br>
        </div>
        <label for="nuevoValor"><i class="fas fa-edit"></i> Nuevo valor:</label><br>
        <input type="text" id="nuevoValor" name="nuevoValor"><br>
        <input type="submit" value="Actualizar">
    </form>
</body>
</html>

